[submodule "frontend"]
	path = frontend
	url = https://github.com/GoidaZ/OrenCode2025
	branch = frontend
[submodule "backend"]
	path = backend
	url = https://github.com/GoidaZ/OrenCode2025
	branch = backend
[submodule "client"]
	path = client
	url = https://github.com/GoidaZ/OrenCode2025
	branch = client
